<div class="container">
  <div class="text-center mb-4">
    <img src="assets/FinanzasPro.png" alt="Logo de FinanzasPro" width="150">
  </div>

  <div class="row">
    <div class="col-md-12 text-center"> 
      <nav class="nav-options">
        <ul>
          <li>
            <a routerLink="/registro-gastos">Registro de Gastos</a>
            <p>Aquí podrás registrar tus gastos de manera organizada.</p>
          </li>
          <li>
            <a routerLink="/registro-ingresos">Registro de Ingresos</a>
            <p>Aquí podrás registrar tus ingresos para mantener un control financiero.</p>
          </li>
          <li>
            <a routerLink="/gestion-proveedores">Gestión de Proveedores</a>
            <p>Aquí podrás administrar tus proveedores y mantener un registro de tus transacciones con ellos.</p>
          </li>
          <li>
            <a routerLink="/gestion-clientes">Gestión de Clientes</a>
            <p>Aquí podrás gestionar a tus clientes y mantener un registro de tus transacciones con ellos.</p>
          </li>
          <li>
            <a routerLink="/generar-reportes">Generar Reportes</a>
            <p>Aquí podrás generar informes y análisis financiero para tomar decisiones informadas.</p>
          </li>
          <li>
            <a routerLink="/configuracion">Configuración de la Cuenta</a>
            <p>Aquí podrás configurar tu cuenta y ajustar tus preferencias de usuario.</p>
          </li>
        </ul>
      </nav>
      <button class="btn btn-danger mt-4" (click)="cerrarSesion()">Cerrar sesión</button>
    </div>
  </div>
</div>


