<mat-toolbar color="primary">
  <button mat-icon-button matTooltip="Menú desplegable de opciones" (click)="toggleSidenav()">
    <i class="fa-solid fa-bars"></i>
  </button>
  <span matTooltip="Nombre de la empresa">FinanzasPro</span>
  <span class="spacer"></span>
  <button mat-icon-button class="center-btn" matTooltip="Botón para cerrar sesión" (click)="logout()">
    <i class="fa-solid fa-right-from-bracket"></i>
  </button>
  <span class="date" matTooltip="Fecha y hora actual">{{ currentDate | date: 'medium' }}</span>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="side" [opened]="isExpanded">
    <mat-nav-list>
      <a mat-list-item routerLink="/registro-gastos">Registro de Gastos</a>
      <a mat-list-item routerLink="/registro-ingresos">Registro de Ingresos</a>
      <a mat-list-item routerLink="/gestion-proveedores">Gestión de Proveedores</a>
      <a mat-list-item routerLink="/gestion-clientes">Gestión de Clientes</a>
      <a mat-list-item routerLink="/generar-reportes">Generar Reportes</a>
      <a mat-list-item routerLink="/configuracion">Configuración de la Cuenta</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    
    <div class="container">
      <h2 class="text-center">Registro de Ingresos</h2>
      <form [formGroup]="ingresoForm"  (ngSubmit)="agregarIngreso()">
        <div class="form-group">
          <label for="monto">Monto:</label>
          <input type="number" class="form-control" id="monto" formControlName="monto" placeholder="Ingrese el monto del gasto"  required>
          <div class="text-danger"
          *ngIf="ingresoForm.get('monto')?.hasError('required') && ingresoForm.get('monto')?.touched">
          <span>La cantidad del monto <strong>es obligatoria</strong></span>
        </div>
        </div>
        <div class="form-group">
          <label for="monto">Descripción:</label>
          <input type="text" class="form-control" id="descripcion" formControlName="descripcion" placeholder="Ingrese la descripción del gasto"  required>
          <div class="text-danger"
          *ngIf="ingresoForm.get('descripcion')?.hasError('required') && ingresoForm.get('descripcion')?.touched">
          <span>La descripción <strong>es obligatoria</strong></span>
        </div>
        </div>
        <div class="form-group">
          <label for="fecha">Fecha:</label>
          <input type="date" class="form-control" formControlName="fecha" id="fecha" required>
          <div class="text-danger"
          *ngIf="ingresoForm.get('fecha')?.hasError('required') && ingresoForm.get('fecha')?.touched">
          <span>La fecha <strong>es obligatoria</strong></span>
        </div>
        </div>
        <button type="submit" [disabled]="ingresoForm.invalid" class="btn btn-primary">Registrar Ingreso</button>
      </form>
    </div>
  <hr> 

  <div class="container">
    <h2>Lista de Ingresos</h2>
    <table *ngIf="listIngresos.length > 0" class="table">
      <thead>
        <tr>
          <th scope="col" matTooltip="Valor o cantidad de dinero gastado en la transacción">Monto</th>
          <th scope="col" matTooltip="Detalles sobre el ingreso">Descripción</th>
          <th scope="col" matTooltip="La fecha del ingreso">Fecha</th>
          <th scope="col" matTooltip="Diversas opciones para los campos">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ingreso of listIngresos">
          <td>{{ ingreso.monto }}</td>
          <td>{{ ingreso.descripcion }}</td>
          <td>{{ ingreso.fecha | date: 'dd/MM/yyyy' }}</td>
          <td>
            <i [routerLink]="['/editar-ingreso', ingreso._id]" class="fa-solid fa-pen-to-square text-primary" id="editar" matTooltip="Editar el ingreso"></i>
            <i (click)="eliminarIngreso(ingreso._id)" class="fa-solid fa-trash text-danger" id="borrar" matTooltip="Eliminar el ingreso"></i>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <h5 style="text-align: start; margin-top: 10px;" *ngIf="listIngresos.length == 0">No hay ingresos para mostrar</h5>

  <hr>

  <app-footer></app-footer>

</mat-sidenav-content>
</mat-sidenav-container>  
